{% extends 'base.html' %}

{% block content %}

<section id="about">
    <div class="container">
       <div class="row">
        <div class="col-4">
          <div class="que">
         <ul class="nav-pills mt-3">
          <li class="link nav-item"> 
            <a href= "#ans">1. About our services?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans1">2. Refund policy?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans2">3. our customer support?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans3">4. What kind we do?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans4">5. Customer Satisfaction?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans5">6. Terms & Conditions?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans6">7. Special parties?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans7">8. Error on page?</a>
          </li>
          <!-- <hr> -->
          <li class="link"> 
            <a href= "#ans8">9. More about our Services?</a>
          </li>
          <!-- <hr> -->
      </ul>
        </div>
      </div>
        <div class="col-8 mt-3">
          <div id="ans ">
          <div class="ans">
           <h4>1. About our Services?</h4>
           <p style="padding-top:17px;" class="text-left">  ytfrsioi Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
          </div>   
      <div id="ans2">
        <div class="ans">
          <h4>2. Refund Policy?</h4>
          <p style="padding-top:17px;"> trdtaqudy Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
      <div id="ans3">
        <div class="ans">
          <h4>3. Our Customer Support?</h4>
          <p style="padding-top:17px;"> vressssqd Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
      <div id="ans4">
        <div class="ans">
          <h4>4. What kind We do?</h4>
          <p style="padding-top:17px;"> dasrqdidqdwug Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
      <div id="ans5">
        <div class="ans">
          <h4>5. Customer Satisfaction?</h4>
          <p style="padding-top:17px;"> ajduyddty Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
      <div id="ans6">
        <div class="ans">
          <h4>6. Terms & Conditions?</h4>
          <p style="padding-top:17px;"> ajduyddty Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
      <div id="ans7">
        <div class="ans">
          <h4>7. Special Parties?</h4>
          <p style="padding-top:17px;"> fddtqqwtt Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
      <div id="ans8">
        <div class="ans">
          <h4>8. Error On page?</h4>
          <p style="padding-top:17px;"> nnytfysgqfytdtqyw Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
      <div id="ans9">
        <div class="ans">
          <h4>9. More About our Services?</h4>
          <p style="padding-top:17px;"> mtsfq bsyqsLorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias blanditiis eos delectus id. Pariatur reiciendis, maiores deserunt quos assumenda voluptatibus sint soluta, ratione quam est repudiandae sit sunt corporis expedita voluptatem culpa iusto. Voluptatibus deserunt nisi, natus ipsum totam aperiam!</p>    
       </div>
      </div>
       </div>
      </div>
      </div>
  </div>
</section>

{% endblock content %}